@page {margin: 10px;}

/*===Reset code to prevent cross-reader strangeness===*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
margin: 5;
padding: 5;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
img
{
	max-width: 50%;
  height: auto;

	
}
body
{
text-align: justify;
line-height: 120%;
}
h1
{
text-indent: 0;
text-align: center;
margin: 100px 0 0 0;
font-size: 2.0em;
font-weight: bold;
page-break-before: always;
line-height: 150%; /*gets squished otherwise on ADE */
}

h2
{
text-indent: 0;
text-align: center;
margin: 50px 0 0 0;
font-size: 1.5em;
font-weight: bold;
page-break-before: always;
line-height: 135%; /*get squished otherwise on ADE */
}

h3
{
text-indent: 0;
text-align: left;
font-size: 1.4em;
font-weight: bold;
}

h4
{
text-indent: 0;
text-align: left;
font-size: 1.2em;
font-weight: bold;
}

h5
{
text-indent: 0;
text-align: left;
font-size: 1.1em;
font-weight: bold;
}

h6
{
text-indent: 0;
text-align: left;
font-size: 1.0em;
font-weight: bold;
}

/* block type paragraph for non-fiction* /
/*
p
{
text-indent: 0;
margin: 1.0em 0 0 0;
widows: 2;
orphans: 2;
}
*/
.caption {
    color: #a0a0a0;
    display: block;
    font-family: monospace;
    font-size: 0.83333em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.chapterend {
    display: block;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: always
    }
	
.footnote {
    border-bottom-color: #32a1ce;
    border-bottom-style: double;
    border-bottom-width: thin;
    border-left-color: #32a1ce;
    border-left-style: double;
    border-left-width: thin;
    border-right-color: #32a1ce;
    border-right-style: double;
    border-right-width: thin;
    border-top-color: #32a1ce;
    border-top-style: double;
    border-top-width: thin;
    display: block;
    font-size: 0.625em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right
    }
.footnote1 {
    border-bottom-color: #32a1ce;
    border-bottom-style: double;
    border-bottom-width: thin;
    border-collapse: separate;
    border-left-color: #32a1ce;
    border-left-style: double;
    border-left-width: thin;
    border-right-color: #32a1ce;
    border-right-style: double;
    border-right-width: thin;
    border-spacing: 2px;
    border-top-color: #32a1ce;
    border-top-style: double;
    border-top-width: thin;
    display: block;
    font-size: 0.625em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.level {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.level1 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.level2 {
    display: block;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.license-text {
    display: block;
    font-family: monospace;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    white-space: pre
    }
.quote {
    color: #4030a0;
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em
    }
.quote1 {
    color: #4030a0;
    display: block;
    font-size: 1em;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em
    }
