@page {margin: 10px;}

.caption {
    color: #a0a0a0;
    display: block;
    font-family: monospace;
    font-size: 0.83333em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.chapterend {
    display: block;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: always
    }
	
.footnote {
    border-bottom-color: #32a1ce;
    border-bottom-style: double;
    border-bottom-width: thin;
    border-left-color: #32a1ce;
    border-left-style: double;
    border-left-width: thin;
    border-right-color: #32a1ce;
    border-right-style: double;
    border-right-width: thin;
    border-top-color: #32a1ce;
    border-top-style: double;
    border-top-width: thin;
    display: block;
    font-size: 0.625em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right
    }
.footnote1 {
    border-bottom-color: #32a1ce;
    border-bottom-style: double;
    border-bottom-width: thin;
    border-collapse: separate;
    border-left-color: #32a1ce;
    border-left-style: double;
    border-left-width: thin;
    border-right-color: #32a1ce;
    border-right-style: double;
    border-right-width: thin;
    border-spacing: 2px;
    border-top-color: #32a1ce;
    border-top-style: double;
    border-top-width: thin;
    display: block;
    font-size: 0.625em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.level {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.level1 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.level2 {
    display: block;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.license-text {
    display: block;
    font-family: monospace;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    white-space: pre
    }
.quote {
    color: #4030a0;
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em
    }
.quote1 {
    color: #4030a0;
    display: block;
    font-size: 1em;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em
    }
